include ../../components/button/button

section.start-page
  ._wrap
    ._content
      ._container.container
        ._texts
          h1._title Дизайн и разработка <br>
            span сайтов
          p._desc Создаем эффективный инструмент для Вашего бизнеса!
          ul._list
            li брендинг в подарок!
            li брендинг в подарок!
          ._button
            +button('Заказать', "#", '')
  ._main
    ._main-wrap
      h2._main-title Главное
      p._main-text — На сегодняшний день одна из самых острых проблем любого бизнеса — нахождение не просто подрядчика, а именно надежного партнера.
      p._main-text От лица компании могу сказать:<br>БУДЬТЕ УВЕРЕНЫ, МЫ НЕ ОБМАНЕМ ВАШИ ОЖИДАНИЯ!