header.header
  .header-top
    ._container.container
      ._row
        include ../logo/logo
        include ../top-menu/top-menu
        ._phone
          a._phone-link(href="tel:+7 917 925 3885") +7 917 925 3885
        