include ../../components/button/button

mixin work-item(text, icon)
  .work__item
    .work__item-wrap
      .work__item-circle
      p.work__item-text= text
        a(href="#") Подробнее

section.work.section#work
  ._container.container
    ._wrap
      ._top
        h2.section-title
          b Как работает
          span студия
        .section-desc 
          .section-desc__wrap В 2013 году мы сформировали команду из настоящих профессионалов, которые знают и любят свою работу, поэтому наша студия веб дизайна готова выполнить проект любой сложности. Каждый специалист имеет успешный опыт в ведущих web агентствах России.
      ._list
        ._row
          +work-item('Наша веб студия проверяет корректность работы сайта. Для получения максимально полного результата все работы мы делим на поисковый аудит и маркетинговый аудит. ', '')
          +work-item('Наша веб студия проверяет корректность работы сайта. Для получения максимально полного результата все работы мы делим на поисковый аудит и маркетинговый аудит. ', '')
          +work-item('Наша веб студия проверяет корректность работы сайта. Для получения максимально полного результата все работы мы делим на поисковый аудит и маркетинговый аудит. ', '')
          +work-item('Наша веб студия проверяет корректность работы сайта. Для получения максимально полного результата все работы мы делим на поисковый аудит и маркетинговый аудит. ', '')
        .work__arrows
      ._button
        +button('Заказать', "#", '')