section.about.section#about
  ._container.container
    ._wrap
      h2.section-title
        b ВЕБ-СТУДИЯ
        span.section-title__color FoxDesign Studio
        span B КАЗАНИ
    .section-desc
      .section-desc__wrap В 2013 году мы сформировали команду из настоящих профессионалов, которые знают и любят свою работу, поэтому наша студия веб дизайна готова выполнить проект любой сложности. Каждый специалист имеет успешный опыт в ведущих web агентствах России.
    ._points
      ._points-row
        ._points-item
          ._points-circle
          ._points-text В 2013 году мы команда настоящих профессионалов, которые знают и любят свою работу
        ._points-item
          ._points-circle
          ._points-text В 2013 году мы команда настоящих профессионалов, которые знают и любят свою работу, 