section.contacts.section#contacts
  ._map
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A9f4f906eba028cc6e26f67b313100c41f89691b73d65ad4c53f8136056d3c914&amp;source=constructor" width="100%" height="600" frameborder="0"></iframe>
  ._container.container
    ._wrap
      h2.section-title
        span Как нас
        b найти
      ._content
        ._string
          ._content-title Адрес:
          ._content-text г. Казань, ул. Такаято, д. 666
        ._string
          ._content-title Телефон:
          ._content-text 
            a(href="tel:+7 917 925 3885") +7 917 925 3885
        ._string
          ._content-title Email:
          ._content-text 
            a(href="mailto:info@gmail.com") info@gmail.com