main.main
	include ../start-page/start-page
	include ../services/services
	include ../about/about
	include ../team/team
	include ../work/work
	include ../portfolio/portfolio
	include ../company/company
	include ../discount/discount
	include ../contacts/contacts